# version format
version: '{branch}-{build}'

# Do not build on tags (GitHub and BitBucket)
skip_tags: true

# Limit the number of last commits when cloning the repo/branch
clone_depth: 1

# Do not build feature branch with open Pull Requests
skip_branch_with_pr: true

# Build on x64 only
platform: x64

environment:
  SFDX_AUTOUPDATE_DISABLE: true
  SFDX_DOMAIN_RETRY: 300
  matrix:
    - vscode: test:unit
    - vscode: test:integration-tests-without-system-tests

install:
  - ps: $stopwatch = [system.diagnostics.stopwatch]::StartNew()
  - ps: Install-Product node 12.4.0 x64
  - appveyor-retry npm install
  - npm install -g sfdx-cli
  - npm install -g codecov
  - npm install -g junit-merge
  # the JWT key should be stored base 64 encoded in AppVeyor settings. If you change this, it will take a few builds to propogate
  - ps: "[System.Text.Encoding]::ASCII.GetString([System.Convert]::FromBase64String($env:SFDX_CI_DEVHUB_JWTKEY)) | Out-File -Encoding \"ASCII\" C:\\projects\\devhub.key"
  - sfdx force:auth:jwt:grant --clientid %SFDX_CI_DEVHUB_CLIENTID% --username %SFDX_CI_DEVHUB_USERNAME% --jwtkeyfile C:\projects\devhub.key --setdefaultdevhubusername --setalias devhub
  - ps: |
      $stopwatch.Stop()
      Write-Host "Total Installation Time - " $stopwatch.Elapsed
      "`n`n"
      $stopwatch.Reset()

build_script:
  - ps: $stopwatch.Start()
  - npm run compile
  - npm run lint
  - npm config set scripts-prepend-node-path true
  - ps: |
      $stopwatch.Stop()
      Write-Host "Total Build Time - " $stopwatch.Elapsed
      "`n`n"
      $stopwatch.Reset()

test_script:
  - ps: $stopwatch.Start()
  - node --version
  - npm --version
  - ps: |
      #Initialize some variables, move to the project root
      $ProjectRoot = $ENV:APPVEYOR_BUILD_FOLDER
      Set-Location $ProjectRoot
      # Run tests
      "`n`n`n`n"
      "--------------------------------------------"
  - cmd: echo Running npm run %vscode%
  - ps: |
      "--------------------------------------------"
  - cmd: npm run %vscode%
  - ps: |
      npm run aggregateJUnit
      junit-merge -d junit-aggregate -o junit-aggregate.xml
      $NpmTestsExitCode = $LastExitCode
      # Show status
      "`n`n"
      "Finalizing results`n"
      $AllFiles = Get-ChildItem -Path $ProjectRoot\packages\*\xunit*.xml -File | Select -ExpandProperty FullName
      "Test Results:`n$($AllFiles | Out-String)"
      # Upload results for AppVeyor test tab
      "Uploading Test Results:`n"
      (New-Object 'System.Net.WebClient').UploadFile("https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)" , (Resolve-Path .\junit-aggregate.xml) )
  - ps: |
      $stopwatch.Stop()
      Write-Host "Total Test Time - " $stopwatch.Elapsed
      "`n`n"

artifacts:
  - path: '**\*.vsix'
  - path: junit-aggregate/
    name: test-results
    type: zip

on_finish:
  - del C:\projects\devhub.key
  - appveyor-retry codecov --disable=gcov
  - ps: |
      [xml]$results = Get-Content junit-aggregate.xml
        $failure = $results.SelectSingleNode("//failure")
        if ($failure -ne $null) 
        { 
            $host.SetShouldExit(1)
            Write-Host "Forcing build failure due to test failure(s) :'("
        }
