# https://docs.npmjs.com/cli/v8/using-npm/config

# Save dependencies to package.json with an exact version rather than using npm's default semver range operator
save-exact=true

# Refuse to install (or even consider installing) any package that claims to not be compatible with the current Node.js version.
engine-strict=true
