# https://docs.npmjs.com/cli/v8/using-npm/config

# Save dependencies to package.json with an exact version rather than using npm's default semver range operator
save-exact=true

# Refuse to install (or even consider installing) any package that claims to not be compatible with the current Node.js version.
engine-strict=true

# If a package cannot be installed because of overly strict peerDependencies that collide, it provides a way to move forward resolving the situation.
# TODO (debug):
#   npm ERR! While resolving: salesforcedx-vscode-soql@54.8.0
#   npm ERR! Found: @typescript-eslint/parser@3.10.1
legacy-peer-deps=true

# Smaller on disk than lockfile version 2, but not interoperable with older npm versions. Ideal if all users are on npm version 7 and higher.
lockfile-version=3