#save exact versions of dependencies from the package.json
save-exact=true

#enforces usage of the minimum node version in our .nvmrc
engine-strict=true

# pnpm settings
# https://pnpm.io/npmrc
# pnpm will run any pre/post scripts automatically
enable-pre-post-scripts=true
