**/snippets/
SHA256.md
.claude/
.cursor/
.github/actions/**/lib/**
packages/salesforcedx-vscode-automation-tests/lib/
packages/salesforcedx-aura-language-server/src/resources/
packages/salesforcedx-aura-language-server/src/tern/**
packages/salesforcedx-aura-language-server/src/tern-server/**
packages/salesforcedx-aura-language-server/test/tern-server/**
packages/salesforcedx-lightning-lsp-common/src/resources/
packages/salesforcedx-lwc-language-server/src/resources/
packages/salesforcedx-lwc-language-server/typings/**
packages/salesforcedx-vscode-core/resources/
packages/salesforcedx-vscode-lightning/src/resources/
packages/salesforcedx-vscode-lwc/resources/
packages/salesforcedx-vscode-metadata/src/sobjects/resources/
**/fixtures/**
test-workspaces/**
packages/soql-common/src/soql-parser.lib/**
packages/salesforcedx-vscode-soql/src/soql-data-view/tabulator.min.css