
$contact: rgb(160, 148, 237) !default;
$multi-select-checkbox: rgb(150, 148, 146) !default;
$work-order: rgb(80, 227, 194) !default;
$post: rgb(101, 202, 228) !default;
$global-constant: rgb(84, 105, 141) !default;
$carousel: rgb(107, 189, 110) !default;
$resource-skill: rgb(69, 193, 115) !default;
$system-and-global-variable: rgb(84, 105, 141) !default;
$goals: rgb(86, 170, 223) !default;
$investment-account: rgb(75, 192, 118) !default;
$all: rgb(84, 105, 141) !default;
$picklist-choice: rgb(84, 105, 141) !default;
$choice: rgb(84, 105, 141) !default;
$default: rgb(129, 153, 175) !default;
$case-milestone: rgb(242, 207, 91) !default;
$today: rgb(239, 126, 173) !default;
$lead-list: rgb(248, 137, 98) !default;
$product-item-transaction: rgb(248, 137, 98) !default;
$apex: rgb(84, 105, 141) !default;
$answer-private: rgb(242, 207, 91) !default;
$retail-banking-console: rgb(0, 175, 160) !default;
$channel-program-members: rgb(14, 181, 138) !default;
$apps-admin: rgb(152, 149, 238) !default;
$datadotcom: rgb(21, 137, 238) !default;
$product-item: rgb(118, 158, 217) !default;
$metrics: rgb(86, 170, 223) !default;
$topic2: rgb(86, 170, 208) !default;
$partner-fund-allocation: rgb(14, 181, 138) !default;
$approval: rgb(80, 204, 122) !default;
$work-queue: rgb(84, 105, 141) !default;
$iot-orchestrations: rgb(42, 115, 158) !default;
$person-account: rgb(127, 141, 225) !default;
$entity: rgb(248, 137, 98) !default;
$service-territory-location: rgb(126, 139, 228) !default;
$read-receipts: rgb(75, 192, 118) !default;
$maintenance-asset: rgb(42, 115, 158) !default;
$loop: rgb(255, 154, 60) !default;
$portal-roles-and-subordinates: rgb(122, 154, 230) !default;
$work-capacity-limit: rgb(0, 121, 188) !default;
$constant: rgb(84, 105, 141) !default;
$marketing-actions: rgb(107, 189, 110) !default;
$case-transcript: rgb(242, 207, 91) !default;
$timesheet-entry: rgb(125, 195, 125) !default;
$multi-picklist: rgb(150, 148, 146) !default;
$task: rgb(75, 192, 118) !default;
$answer-best: rgb(242, 207, 91) !default;
$orders: rgb(118, 158, 217) !default;
$past-chat: rgb(248, 137, 96) !default;
$feedback: rgb(109, 161, 234) !default;
$action-list-component: rgb(88, 118, 163) !default;
$opportunity-splits: rgb(252, 185, 91) !default;
$messaging-user: rgb(52, 190, 205) !default;
$trailhead: rgb(75, 139, 68) !default;
$entitlements: rgb(183, 129, 211) !default;
$formula: rgb(84, 105, 141) !default;
$case-log-a-call: rgb(242, 207, 91) !default;
$thanks-loading: rgb(184, 195, 206) !default;
$service-appointment-capacity-usage: rgb(0, 121, 188) !default;
$channel-program-levels: rgb(14, 181, 138) !default;
$email-chatter: rgb(242, 207, 91) !default;
$announcement: rgb(98, 183, 237) !default;
$bot: rgb(84, 105, 143) !default;
$macros: rgb(71, 207, 210) !default;
$steps: rgb(84, 105, 141) !default;
$asset-relationship: rgb(250, 151, 92) !default;
$brand: rgb(126, 139, 228) !default;
$coaching: rgb(246, 117, 148) !default;
$record-lookup: rgb(235, 112, 146) !default;
$lightning-component: rgb(150, 148, 146) !default;
$search: rgb(98, 183, 237) !default;
$connected-apps: rgb(152, 149, 238) !default;
$work-type-group: rgb(0, 121, 188) !default;
$work-type: rgb(84, 105, 141) !default;
$environment-hub: rgb(84, 105, 141) !default;
$cms: rgb(136, 198, 81) !default;
$thanks: rgb(233, 105, 110) !default;
$service-territory-member: rgb(126, 139, 228) !default;
$work-capacity-usage: rgb(0, 121, 188) !default;
$record-create: rgb(235, 112, 146) !default;
$campaign-members: rgb(244, 151, 86) !default;
$retail-banking: rgb(0, 210, 190) !default;
$portal-roles: rgb(251, 137, 80) !default;
$calibration: rgb(71, 207, 210) !default;
$answer-public: rgb(242, 207, 91) !default;
$display-text: rgb(150, 148, 146) !default;
$unmatched: rgb(98, 183, 237) !default;
$partners: rgb(14, 181, 138) !default;
$email-iq: rgb(160, 148, 237) !default;
$service-crew: rgb(250, 151, 92) !default;
$resource-capacity: rgb(69, 193, 115) !default;
$channel-programs: rgb(14, 181, 138) !default;
$quip: rgb(37, 180, 233) !default;
$quip-sheet: rgb(48, 200, 90) !default;
$timeslot: rgb(250, 178, 76) !default;
$live-chat: rgb(248, 137, 96) !default;
$sobject-collection: rgb(84, 105, 141) !default;
$user: rgb(52, 190, 205) !default;
$client: rgb(0, 210, 190) !default;
$screen: rgb(21, 137, 238) !default;
$portal: rgb(174, 199, 112) !default;
$partner-fund-request: rgb(14, 181, 138) !default;
$resource-preference: rgb(69, 193, 115) !default;
$resource-absence: rgb(69, 193, 115) !default;
$text-template: rgb(84, 105, 141) !default;
$entitlement-template: rgb(126, 139, 228) !default;
$lightning-usage: rgb(126, 139, 228) !default;
$entitlement: rgb(126, 139, 228) !default;
$empty: rgb(129, 153, 175) !default;
$text: rgb(150, 148, 146) !default;
$case-email: rgb(242, 207, 91) !default;
$account: rgb(127, 141, 225) !default;
$assignment: rgb(255, 154, 60) !default;
$wealth-management-console: rgb(0, 175, 160) !default;
$task2: rgb(75, 192, 118) !default;
$social: rgb(234, 116, 162) !default;
$endorsement: rgb(139, 154, 227) !default;
$folder: rgb(139, 154, 227) !default;
$service-crew-member: rgb(126, 139, 228) !default;
$flow: rgb(0, 121, 188) !default;
$omni-supervisor: rgb(138, 118, 240) !default;
$product: rgb(183, 129, 211) !default;
$topic: rgb(86, 170, 223) !default;
$product-required: rgb(239, 110, 100) !default;
$dynamic-record-choice: rgb(84, 105, 141) !default;
$process: rgb(0, 121, 188) !default;
$people: rgb(52, 190, 205) !default;
$reward: rgb(233, 105, 110) !default;
$performance: rgb(248, 177, 86) !default;
$case-comment: rgb(242, 207, 91) !default;
$apex-plugin: rgb(84, 105, 141) !default;
$campaign: rgb(244, 151, 86) !default;
$contact-request: rgb(251, 137, 84) !default;
$business-hours: rgb(125, 195, 125) !default;
$evernote: rgb(134, 200, 111) !default;
$service-territory: rgb(126, 139, 228) !default;
$case: rgb(242, 207, 91) !default;
$currency: rgb(150, 148, 146) !default;
$record: rgb(125, 195, 125) !default;
$queue: rgb(84, 105, 141) !default;
$contract-line-item: rgb(110, 192, 110) !default;
$skill-entity: rgb(139, 154, 227) !default;
$skill: rgb(250, 151, 92) !default;
$operating-hours: rgb(107, 158, 226) !default;
$custom: rgb(129, 153, 175) !default;
$related-list: rgb(89, 188, 171) !default;
$bot-training: rgb(88, 118, 163) !default;
$case-change-status: rgb(242, 207, 91) !default;
$insurance-console: rgb(0, 175, 160) !default;
$contract: rgb(110, 192, 110) !default;
$sobject: rgb(150, 148, 146) !default;
$photo: rgb(215, 209, 209) !default;
$apps: rgb(60, 151, 221) !default;
$timesheet: rgb(126, 139, 228) !default;
$drafts: rgb(108, 161, 233) !default;
$outcome: rgb(255, 154, 60) !default;
$work-order-item: rgb(51, 168, 220) !default;
$pricebook: rgb(183, 129, 211) !default;
$scan-card: rgb(243, 158, 88) !default;
$note: rgb(230, 212, 120) !default;
$opportunity: rgb(252, 185, 91) !default;
$news: rgb(127, 141, 225) !default;
$display-rich-text: rgb(150, 148, 146) !default;
$strategy: rgb(75, 192, 113) !default;
$call-history: rgb(242, 207, 91) !default;
$report: rgb(46, 203, 190) !default;
$groups: rgb(119, 158, 242) !default;
$dashboard: rgb(239, 110, 100) !default;
$generic-loading: rgb(184, 195, 206) !default;
$number-input: rgb(150, 148, 146) !default;
$address: rgb(75, 192, 118) !default;
$entity-milestone: rgb(244, 151, 86) !default;
$wealth-management: rgb(0, 210, 190) !default;
$customers: rgb(14, 181, 138) !default;
$service-appointment: rgb(126, 139, 228) !default;
$maintenance-plan: rgb(42, 115, 158) !default;
$data-integration-hub: rgb(42, 115, 158) !default;
$hierarchy: rgb(52, 190, 205) !default;
$partner-marketing-budget: rgb(14, 181, 138) !default;
$skill-requirement: rgb(250, 151, 92) !default;
$location: rgb(75, 192, 118) !default;
$radio-button: rgb(150, 148, 146) !default;
$avatar-loading: rgb(184, 195, 206) !default;
$article: rgb(242, 207, 91) !default;
$proposition: rgb(60, 151, 221) !default;
$customer-portal-users: rgb(60, 151, 219) !default;
$record-update: rgb(235, 112, 146) !default;
$log-a-call: rgb(72, 195, 204) !default;
$quotes: rgb(136, 198, 81) !default;
$question-feed: rgb(242, 207, 91) !default;
$kanban: rgb(60, 151, 221) !default;
$merge: rgb(242, 207, 91) !default;
$product-consumed: rgb(85, 188, 156) !default;
$canvas: rgb(129, 153, 175) !default;
$forecasts: rgb(107, 189, 110) !default;
$relationship: rgb(60, 151, 221) !default;
$service-resource: rgb(126, 139, 228) !default;
$sales-path: rgb(42, 115, 158) !default;
$sms: rgb(136, 198, 81) !default;
$rtc-presence: rgb(71, 207, 210) !default;
$avatar: rgb(98, 183, 237) !default;
$record-delete: rgb(235, 112, 146) !default;
$solution: rgb(143, 201, 114) !default;
$partner-fund-claim: rgb(14, 181, 138) !default;
$individual: rgb(60, 151, 221) !default;
$custom-notification: rgb(107, 183, 228) !default;
$date-input: rgb(150, 148, 146) !default;
$template: rgb(60, 151, 221) !default;
$shipment: rgb(126, 139, 228) !default;
$event: rgb(235, 112, 146) !default;
$insurance: rgb(0, 210, 190) !default;
$live-chat-visitor: rgb(246, 137, 96) !default;
$textarea: rgb(150, 148, 146) !default;
$picklist-type: rgb(150, 148, 146) !default;
$survey: rgb(49, 159, 214) !default;
$link: rgb(122, 154, 230) !default;
$messaging-session: rgb(52, 190, 205) !default;
$list-email: rgb(139, 174, 181) !default;
$document: rgb(186, 172, 147) !default;
$product-transfer: rgb(248, 137, 98) !default;
$recent: rgb(108, 161, 233) !default;
$password: rgb(150, 148, 146) !default;
$insights: rgb(236, 148, 237) !default;
$dropbox: rgb(82, 174, 249) !default;
$file: rgb(186, 172, 147) !default;
$currency-input: rgb(150, 148, 146) !default;
$variable: rgb(84, 105, 141) !default;
$team-member: rgb(242, 207, 91) !default;
$group-loading: rgb(184, 195, 206) !default;
$lead: rgb(248, 137, 98) !default;
$email: rgb(149, 174, 197) !default;
$service-contract: rgb(138, 118, 240) !default;
$decision: rgb(255, 154, 60) !default;
$snippet: rgb(160, 148, 237) !default;
$entitlement-process: rgb(126, 139, 228) !default;
$contact-list: rgb(160, 148, 237) !default;
$channel-program-history: rgb(14, 181, 138) !default;
$question-best: rgb(242, 207, 91) !default;
$collection-variable: rgb(84, 105, 141) !default;
$knowledge: rgb(236, 148, 237) !default;
$date-time: rgb(150, 148, 146) !default;
$textbox: rgb(150, 148, 146) !default;
$lead-insights: rgb(34, 176, 230) !default;
$waits: rgb(255, 154, 60) !default;
$concur: rgb(76, 195, 199) !default;
$feed: rgb(98, 183, 237) !default;
$messaging-conversation: rgb(52, 190, 205) !default;
$service-report: rgb(126, 139, 228) !default;
$iot-context: rgb(42, 115, 158) !default;
$call: rgb(242, 207, 91) !default;
$stage: rgb(255, 154, 60) !default;
$product-request-line-item: rgb(136, 198, 81) !default;
$return-order-line-item: rgb(0, 150, 136) !default;
$quick-text: rgb(98, 183, 229) !default;
$home: rgb(239, 126, 173) !default;
$sossession: rgb(84, 105, 141) !default;
$stage-collection: rgb(255, 154, 60) !default;
$product-request: rgb(136, 198, 81) !default;
$logging: rgb(0, 161, 223) !default;
$assigned-resource: rgb(69, 193, 115) !default;
$return-order: rgb(0, 150, 136) !default;
$poll: rgb(105, 155, 225) !default;
$household: rgb(0, 175, 160) !default;
