
$page-header-border-radius: 0 !default;
$card-shadow: none !default;
$page-header-shadow: none !default;
$form-label-font-size: 0.875rem !default;
$input-static-font-size: 1rem !default;
$input-static-font-weight: 400 !default;
$card-font-weight: 400 !default;
// Unitless line-heights for reusability
$line-height-text: 1.375 !default;
// Variable unitless line-heights for reusability
$var-line-height-text: 1.375 !default;
// Text input height for mobile
$height-input: 2.375rem !default;
