
// Variable spacing token for size X Large
$var-spacing-x-large: 2rem !default;
// Variable horizontal spacing token for size Small
$var-spacing-horizontal-small: 0.75rem !default;
// Variable horizontal spacing token for size XX Large
$var-spacing-horizontal-xx-large: 3rem !default;
// Constant spacing token for size X small
$spacing-x-small: 0.5rem !default;
// Constant spacing token for size XXX small
$spacing-xxx-small: 0.125rem !default;
// Constant spacing token for size XX small
$spacing-xx-small: 0.25rem !default;
// Variable vertical spacing token for size Large
$var-spacing-vertical-large: 1.5rem !default;
// Variable spacing token for size Large
$var-spacing-large: 1.5rem !default;
// Variable spacing token for size Medium
$var-spacing-medium: 1rem !default;
// Variable vertical spacing token for size Medium
$var-spacing-vertical-medium: 1rem !default;
// Variable vertical spacing token for size X Small
$var-spacing-vertical-x-small: 0.5rem !default;
// Constant spacing token for size Small
$spacing-small: 0.75rem !default;
// Variable vertical spacing token for size XXX Small
$var-spacing-vertical-xxx-small: 0.125rem !default;
// Variable spacing token for size X Small
$var-spacing-x-small: 0.5rem !default;
// Variable spacing token for size XXX Small
$var-spacing-xxx-small: 0.125rem !default;
// Variable horizontal spacing token for size X Large
$var-spacing-horizontal-x-large: 2rem !default;
// Variable horizontal spacing token for size XX Small
$var-spacing-horizontal-xx-small: 0.25rem !default;
// Variable spacing token for size XX Large
$var-spacing-xx-large: 3rem !default;
// Constant spacing token for size Medium
$spacing-medium: 1rem !default;
// Variable vertical spacing token for size XX Large
$var-spacing-vertical-xx-large: 3rem !default;
// Variable vertical spacing token for size Small
$var-spacing-vertical-small: 0.75rem !default;
// Variable spacing token for size Small
$var-spacing-small: 0.75rem !default;
// Constant spacing token for 0
$spacing-none: 0 !default;
// Variable horizontal spacing token for size Large
$var-spacing-horizontal-large: 1.5rem !default;
// Constant spacing token for size X Large
$spacing-x-large: 2rem !default;
// Constant spacing token for size XX Large
$spacing-xx-large: 3rem !default;
// Variable horizontal spacing token for size XXX Small
$var-spacing-horizontal-xxx-small: 0.125rem !default;
// Variable horizontal spacing token for size X Small
$var-spacing-horizontal-x-small: 0.5rem !default;
// Variable spacing token for size XX Small
$var-spacing-xx-small: 0.25rem !default;
// Variable horizontal spacing token for size Medium
$var-spacing-horizontal-medium: 1rem !default;
// Variable vertical spacing token for size XX Small
$var-spacing-vertical-xx-small: 0.25rem !default;
// Variable vertical spacing token for size X Large
$var-spacing-vertical-x-large: 2rem !default;
// Constant spacing token for size Large
$spacing-large: 1.5rem !default;
