
// Variable typography token for font size 10
$var-font-size-10: 2rem !default;
// Variable typography token for font size 11
$var-font-size-11: 2.625rem !default;
// Variable typography token for font size 1
$var-font-size-1: 0.625rem !default;
// Variable typography token for font size 2
$var-font-size-2: 0.75rem !default;
// Variable typography token for font size 3
$var-font-size-3: 0.8125rem !default;
// Variable typography token for font size 4
$var-font-size-4: 0.875rem !default;
// Variable typography token for font size 5
$var-font-size-5: 0.875rem !default;
// Variable typography token for font size 6
$var-font-size-6: 1rem !default;
// Variable typography token for font size 7
$var-font-size-7: 1.25rem !default;
// Variable typography token for font size 8
$var-font-size-8: 1.25rem !default;
// Variable typography token for font size 9
$var-font-size-9: 1.75rem !default;
