
// Variable spacing token for size X Large
$var-spacing-x-large: 1rem !default;
// Variable horizontal spacing token for size Small
$var-spacing-horizontal-small: 0.5rem !default;
// Variable horizontal spacing token for size XX Large
$var-spacing-horizontal-xx-large: 1.5rem !default;
// Variable vertical spacing token for size Large
$var-spacing-vertical-large: 0.75rem !default;
// Variable spacing token for size Large
$var-spacing-large: 0.75rem !default;
// Variable spacing token for size Medium
$var-spacing-medium: 0.5rem !default;
// Variable vertical spacing token for size Medium
$var-spacing-vertical-medium: 0.5rem !default;
// Variable vertical spacing token for size X Small
$var-spacing-vertical-x-small: 0.25rem !default;
// Variable vertical spacing token for size XXX Small
$var-spacing-vertical-xxx-small: 0.125rem !default;
// Variable spacing token for size X Small
$var-spacing-x-small: 0.125rem !default;
// Variable spacing token for size XXX Small
$var-spacing-xxx-small: 0.125rem !default;
// Variable horizontal spacing token for size X Large
$var-spacing-horizontal-x-large: 1rem !default;
// Variable horizontal spacing token for size XX Small
$var-spacing-horizontal-xx-small: 0.125rem !default;
// Variable spacing token for size XX Large
$var-spacing-xx-large: 1.5rem !default;
// Variable vertical spacing token for size XX Large
$var-spacing-vertical-xx-large: 1.5rem !default;
// Variable vertical spacing token for size Small
$var-spacing-vertical-small: 0.5rem !default;
// Variable spacing token for size Small
$var-spacing-small: 0.25rem !default;
// Variable horizontal spacing token for size Large
$var-spacing-horizontal-large: 0.75rem !default;
// Variable horizontal spacing token for size XXX Small
$var-spacing-horizontal-xxx-small: 0.125rem !default;
// Variable horizontal spacing token for size X Small
$var-spacing-horizontal-x-small: 0.25rem !default;
// Variable spacing token for size XX Small
$var-spacing-xx-small: 0.125rem !default;
// Variable horizontal spacing token for size Medium
$var-spacing-horizontal-medium: 0.75rem !default;
// Variable vertical spacing token for size XX Small
$var-spacing-vertical-xx-small: 0.125rem !default;
// Variable vertical spacing token for size X Large
$var-spacing-vertical-x-large: 1rem !default;
