name: Apex End to End Tests

on:
  workflow_dispatch:
    inputs:
      createOasDoc:
        description: 'Create OAS Doc'
        required: false
        default: true
        type: boolean
      apexLsp:
        description: 'Apex LSP'
        required: false
        default: true
        type: boolean
      apexReplayDebugger:
        description: 'Apex Replay Debugger'
        required: false
        default: true
        type: boolean
      debugApexTests:
        description: 'Debug Apex Tests'
        required: false
        default: true
        type: boolean
      runApexTests:
        description: 'Run Apex Tests'
        required: false
        default: true
        type: boolean
      trailApexReplayDebugger:
        description: 'Trail Apex Replay Debugger'
        required: false
        default: true
        type: boolean
      vscodeVersion:
        description: 'VSCode Version'
        required: false
        default: 'latest'
        type: string
      runId:
        description: 'Run ID of the workflow run that created the vsixes'
        required: true
        type: string

  workflow_call:
    inputs:
      createOasDoc:
        description: 'Create OAS Doc'
        required: false
        default: true
        type: boolean
      apexLsp:
        description: 'Apex LSP'
        required: false
        default: true
        type: boolean
      apexReplayDebugger:
        description: 'Apex Replay Debugger'
        required: false
        default: true
        type: boolean
      debugApexTests:
        description: 'Debug Apex Tests'
        required: false
        default: true
        type: boolean
      runApexTests:
        description: 'Run Apex Tests'
        required: false
        default: true
        type: boolean
      trailApexReplayDebugger:
        description: 'Trail Apex Replay Debugger'
        required: false
        default: true
        type: boolean
      vscodeVersion:
        description: 'VSCode Version'
        required: false
        default: 'latest'
        type: string
      runId:
        description: 'Run ID of the workflow run that created the vsixes'
        required: true
        type: string

jobs:
  createOasDoc:
    if: ${{ inputs.createOasDoc }}
    uses: ./.github/workflows/runE2ETest.yml
    secrets: inherit
    with:
      testToRun: 'createOasDoc.e2e.js'
      vscodeVersion: ${{ inputs.vscodeVersion }}
      runId: ${{ inputs.runId }}
      os: '["ubuntu-latest"]'

  apexLSP:
    if: ${{ inputs.apexLsp }}
    uses: ./.github/workflows/runE2ETest.yml
    secrets: inherit
    with:
      testToRun: 'apexLsp.e2e.js'
      vscodeVersion: ${{ inputs.vscodeVersion }}
      runId: ${{ inputs.runId }}

  apexReplayDebugger:
    if: ${{ inputs.apexReplayDebugger }}
    uses: ./.github/workflows/runE2ETest.yml
    secrets: inherit
    with:
      testToRun: 'apexReplayDebugger.e2e.js'
      vscodeVersion: ${{ inputs.vscodeVersion }}
      runId: ${{ inputs.runId }}

  debugApexTests:
    if: ${{ inputs.debugApexTests }}
    uses: ./.github/workflows/runE2ETest.yml
    secrets: inherit
    with:
      testToRun: 'debugApexTests.e2e.js'
      vscodeVersion: ${{ inputs.vscodeVersion }}
      runId: ${{ inputs.runId }}

  runApexTests:
    if: ${{ inputs.runApexTests }}
    uses: ./.github/workflows/runE2ETest.yml
    secrets: inherit
    with:
      testToRun: 'runApexTests.e2e.js'
      vscodeVersion: ${{ inputs.vscodeVersion }}
      runId: ${{ inputs.runId }}

  trailApexReplayDebugger:
    if: ${{ inputs.trailApexReplayDebugger }}
    uses: ./.github/workflows/runE2ETest.yml
    secrets: inherit
    with:
      testToRun: 'trailApexReplayDebugger.e2e.js'
      vscodeVersion: ${{ inputs.vscodeVersion }}
      runId: ${{ inputs.runId }}
