name: Apex End to End Tests

on:
  schedule:
    - cron: 10 6 * * *
  workflow_dispatch:
    inputs:
      automationBranch:
        description: 'Set the branch to use for automation tests'
        required: false
        default: 'develop'
        type: string
      apexLsp:
        description: 'apexLsp.e2e.ts'
        required: false
        default: true
        type: boolean
      apexReplayDebugger:
        description: 'apexReplayDebugger.e2e.ts'
        required: false
        default: true
        type: boolean
      debugApexTests:
        description: 'debugApexTests.e2e.ts'
        required: false
        default: true
        type: boolean
      runApexTests:
        description: 'runApexTests.e2e.ts'
        required: false
        default: true
        type: boolean
      trailApexReplayDebugger:
        description: 'trailApexReplayDebugger.e2e.ts'
        required: false
        default: true
        type: boolean

  workflow_call:
    inputs:
      automationBranch:
        description: 'Set the branch to use for automation tests'
        required: false
        default: 'develop'
        type: string
      apexLsp:
        description: 'apexLsp.e2e.ts'
        required: false
        default: true
        type: boolean
      apexReplayDebugger:
        description: 'apexReplayDebugger.e2e.ts'
        required: false
        default: true
        type: boolean
      debugApexTests:
        description: 'debugApexTests.e2e.ts'
        required: false
        default: true
        type: boolean
      runApexTests:
        description: 'runApexTests.e2e.ts'
        required: false
        default: true
        type: boolean
      trailApexReplayDebugger:
        description: 'trailApexReplayDebugger.e2e.ts'
        required: false
        default: true
        type: boolean

jobs:

  apexLSP:
    if: ${{ inputs.apexLsp || github.event_name == 'schedule' }}
    uses: ./.github/workflows/runE2ETest.yml
    secrets: inherit
    with:
      automationBranch: ${{ inputs.automationBranch }}
      testToRun: 'apexLsp.e2e.ts'

  apexReplayDebugger:
    if: ${{ inputs.apexReplayDebugger || github.event_name == 'schedule' }}
    uses: ./.github/workflows/runE2ETest.yml
    secrets: inherit
    with:
      automationBranch: ${{ inputs.automationBranch }}
      testToRun: 'apexReplayDebugger.e2e.ts'

  debugApexTests:
    if: ${{ inputs.debugApexTests || github.event_name == 'schedule' }}
    uses: ./.github/workflows/runE2ETest.yml
    secrets: inherit
    with:
      automationBranch: ${{ inputs.automationBranch }}
      testToRun: 'debugApexTests.e2e.ts'

  runApexTests:
    if: ${{ inputs.runApexTests || github.event_name == 'schedule' }}
    uses: ./.github/workflows/runE2ETest.yml
    secrets: inherit
    with:
      automationBranch: ${{ inputs.automationBranch }}
      testToRun: 'runApexTests.e2e.ts'

  trailApexReplayDebugger:
    if: ${{ inputs.trailApexReplayDebugger || github.event_name == 'schedule' }}
    uses: ./.github/workflows/runE2ETest.yml
    secrets: inherit
    with:
      automationBranch: ${{ inputs.automationBranch }}
      testToRun: 'trailApexReplayDebugger.e2e.ts'
