name: Close Stale Issues

## Tags issues marked with 'more information required' label with 'stale' label after 3 days
## and automatically closes them after 2 more days if original poster does not respond within that time


permissions:
  issues: write

on:
  workflow_dispatch:
  schedule:
    - cron: '30 1 * * *'

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v9
        with:
          node-version: '20.9.0'
          stale-issue-label: stale
          days-before-issue-stale: 3
          days-before-issue-close: 2
          stale-issue-message: 'This issue has not received a response in 3 days. It will auto-close in 2 days unless a response is posted.'
          close-issue-reason: not_planned
          operations-per-run: 100
          exempt-issue-labels: announcement,type:bug,on hold,waiting for internal reply,feature
          any-of-labels: more information required,missing required information,waiting for user
