name: Core End to End Tests

on:
  workflow_dispatch:
    inputs:
      automationBranch:
        description: 'Set the branch to use for automation tests'
        required: false
        default: 'develop'
        type: string
      anInitialSuite:
        description: 'Verify Extensions'
        required: false
        default: true
        type: boolean
      authentication:
        description: 'Authentication'
        required: false
        default: true
        type: boolean
      deployAndRetrieve:
        description: 'Deploy and Retrieve'
        required: false
        default: true
        type: boolean
      manifestBuilder:
        description: 'Manifest Builder'
        required: false
        default: true
        type: boolean
      orgBrowser:
        description: 'Org Browser'
        required: false
        default: true
        type: boolean
      pushAndPull:
        description: 'Push and Pull'
        required: false
        default: true
        type: boolean
      sObjectsDefinitions:
        description: 'sObjects Definitions'
        required: false
        default: true
        type: boolean
      templates:
        description: 'Templates'
        required: false
        default: true
        type: boolean
      runId:
        description: 'Run ID of the workflow run that created the vsixes'
        required: true
        type: string

  workflow_call:
    inputs:
      automationBranch:
        description: 'Set the branch to use for automation tests'
        required: false
        default: 'develop'
        type: string
      anInitialSuite:
        description: 'Verify Extensions'
        required: false
        default: true
        type: boolean
      authentication:
        description: 'Authentication'
        required: false
        default: true
        type: boolean
      deployAndRetrieve:
        description: 'Deploy and Retrieve'
        required: false
        default: true
        type: boolean
      manifestBuilder:
        description: 'Manifest Builder'
        required: false
        default: true
        type: boolean
      orgBrowser:
        description: 'Org Browser'
        required: false
        default: true
        type: boolean
      pushAndPull:
        description: 'Push and Pull'
        required: false
        default: true
        type: boolean
      sObjectsDefinitions:
        description: 'sObjects Definitions'
        required: false
        default: true
        type: boolean
      templates:
        description: 'Templates'
        required: false
        default: true
        type: boolean
      runId:
        description: 'Run ID of the workflow run that created the vsixes'
        required: false
        type: string

jobs:
  anInitialSuite:
    if: ${{ inputs.anInitialSuite }}
    uses: ./.github/workflows/runE2ETest.yml
    secrets: inherit
    with:
      automationBranch: ${{ inputs.automationBranch }}
      testToRun: 'anInitialSuite.e2e.ts'
      runId: ${{ inputs.runId }}

  authentication:
    if: ${{ inputs.authentication }}
    uses: ./.github/workflows/runE2ETest.yml
    secrets: inherit
    with:
      automationBranch: ${{ inputs.automationBranch }}
      testToRun: 'authentication.e2e.ts'
      runId: ${{ inputs.runId }}

  deployAndRetrieve:
    if: ${{ inputs.deployAndRetrieve }}
    uses: ./.github/workflows/runE2ETest.yml
    secrets: inherit
    with:
      automationBranch: ${{ inputs.automationBranch }}
      testToRun: 'deployAndRetrieve.e2e.ts'
      runId: ${{ inputs.runId }}

  manifestBuilder:
    if: ${{ inputs.manifestBuilder }}
    uses: ./.github/workflows/runE2ETest.yml
    secrets: inherit
    with:
      automationBranch: ${{ inputs.automationBranch }}
      testToRun: 'manifestBuilder.e2e.ts'
      runId: ${{ inputs.runId }}

  orgBrowser:
    if: ${{ inputs.orgBrowser }}
    uses: ./.github/workflows/runE2ETest.yml
    secrets: inherit
    with:
      automationBranch: ${{ inputs.automationBranch }}
      testToRun: 'orgBrowser.e2e.ts'
      runId: ${{ inputs.runId }}

  pushAndPull:
    if: ${{ inputs.pushAndPull }}
    uses: ./.github/workflows/runE2ETest.yml
    secrets: inherit
    with:
      automationBranch: ${{ inputs.automationBranch }}
      testToRun: 'pushAndPull.e2e.ts'
      runId: ${{ inputs.runId }}

  sObjectsDefinitions:
    if: ${{ false }}
    uses: ./.github/workflows/runE2ETest.yml
    secrets: inherit
    with:
      automationBranch: ${{ inputs.automationBranch }}
      testToRun: 'sObjectsDefinitions.e2e.ts'
      runId: ${{ inputs.runId }}

  templates:
    if: ${{ false }}
    uses: ./.github/workflows/runE2ETest.yml
    secrets: inherit
    with:
      automationBranch: ${{ inputs.automationBranch }}
      testToRun: 'templates.e2e.ts'
      runId: ${{ inputs.runId }}

  slack_success_notification:
    if: ${{ success() }}
    needs:
      [
        anInitialSuite,
        authentication,
        deployAndRetrieve,
        manifestBuilder,
        orgBrowser,
        pushAndPull,
        sObjectsDefinitions,
        templates,
      ]
    uses: ./.github/workflows/slackNotification.yml
    secrets: inherit
    with:
      title: 'Core E2E Tests'
      testsBranch: ${{ inputs.automationBranch }}
      summary: '\n- An Initial Suite: ${{ needs.anInitialSuite.result }}\n- Authentication: ${{ needs.authentication.result }}\n- Deploy and Retrieve: ${{ needs.deployAndRetrieve.result }}\n- Manifest Builder: ${{ needs.manifestBuilder.result }}\n- Org Browser: ${{ needs.orgBrowser.result }}\n- Push and Pull: ${{ needs.pushAndPull.result }}\n- SObjects Definitions: ${{ needs.sObjectsDefinitions.result }}\n- Templates: ${{ needs.templates.result }}'
      result: 'All the tests passed.'
      workflow: 'actions/runs/${{ github.run_id }}'
      type: 'e2e'

  slack_failure_notification:
    if: ${{ failure()}}
    needs:
      [
        anInitialSuite,
        authentication,
        deployAndRetrieve,
        manifestBuilder,
        orgBrowser,
        pushAndPull,
        sObjectsDefinitions,
        templates,
      ]
    uses: ./.github/workflows/slackNotification.yml
    secrets: inherit
    with:
      title: 'Core E2E Tests'
      testsBranch: ${{ inputs.automationBranch }}
      summary: '\n- An Initial Suite: ${{ needs.anInitialSuite.result }}\n- Authentication: ${{ needs.authentication.result }}\n- Deploy and Retrieve: ${{ needs.deployAndRetrieve.result }}\n- Manifest Builder: ${{ needs.manifestBuilder.result }}\n- Org Browser: ${{ needs.orgBrowser.result }}\n- Push and Pull: ${{ needs.pushAndPull.result }}\n- SObjects Definitions: ${{ needs.sObjectsDefinitions.result }}\n- Templates: ${{ needs.templates.result }}'
      result: 'Not all the tests passed.'
      workflow: 'actions/runs/${{ github.run_id }}'
      type: 'e2e'

  slack_cancelled_notification:
    if: ${{ cancelled() }}
    needs:
      [
        anInitialSuite,
        authentication,
        deployAndRetrieve,
        manifestBuilder,
        orgBrowser,
        pushAndPull,
        sObjectsDefinitions,
        templates,
      ]
    uses: ./.github/workflows/slackNotification.yml
    secrets: inherit
    with:
      title: 'Core E2E Tests'
      testsBranch: ${{ inputs.automationBranch }}
      summary: '\n- An Initial Suite: ${{ needs.anInitialSuite.result }}\n- Authentication: ${{ needs.authentication.result }}\n- Deploy and Retrieve: ${{ needs.deployAndRetrieve.result }}\n- Manifest Builder: ${{ needs.manifestBuilder.result }}\n- Org Browser: ${{ needs.orgBrowser.result }}\n- Push and Pull: ${{ needs.pushAndPull.result }}\n- SObjects Definitions: ${{ needs.sObjectsDefinitions.result }}\n- Templates: ${{ needs.templates.result }}'
      result: 'The workflow was cancelled.'
      workflow: 'actions/runs/${{ github.run_id }}'
      type: 'e2e'
