name: Core End to End Tests

on:
  schedule:
    - cron: 10 6 * * *
  workflow_dispatch:
    inputs:
      automationBranch:
        description: 'Set the branch to use for automation tests'
        required: false
        default: 'develop'
        type: string
      anInitialSuite:
        description: 'anInitialSuite.e2e.ts'
        required: false
        default: true
        type: boolean
      authentication:
        description: 'authentication.e2e.ts'
        required: false
        default: true
        type: boolean
      deployAndRetrieve:
        description: 'deployAndRetrieve.e2e.ts'
        required: false
        default: true
        type: boolean
      manifestBuilder:
        description: 'manifestBuilder.e2e.ts'
        required: false
        default: true
        type: boolean
      pushAndPull:
        description: 'pushAndPull.e2e.ts'
        required: false
        default: true
        type: boolean
      sObjectsDefinitions:
        description: 'sObjectsDefinitions.e2e.ts'
        required: false
        default: true
        type: boolean
      templates:
        description: 'templates.e2e.ts'
        required: false
        default: true
        type: boolean

  workflow_call:
    inputs:
      automationBranch:
        description: 'Set the branch to use for automation tests'
        required: false
        default: 'develop'
        type: string
      anInitialSuite:
        description: 'anInitialSuite.e2e.ts'
        required: false
        default: true
        type: boolean
      authentication:
        description: 'authentication.e2e.ts'
        required: false
        default: true
        type: boolean
      deployAndRetrieve:
        description: 'deployAndRetrieve.e2e.ts'
        required: false
        default: true
        type: boolean
      manifestBuilder:
        description: 'manifestBuilder.e2e.ts'
        required: false
        default: true
        type: boolean
      pushAndPull:
        description: 'pushAndPull.e2e.ts'
        required: false
        default: true
        type: boolean
      sObjectsDefinitions:
        description: 'sObjectsDefinitions.e2e.ts'
        required: false
        default: true
        type: boolean
      templates:
        description: 'templates.e2e.ts'
        required: false
        default: true
        type: boolean

jobs:

  anInitialSuite:
    if: ${{ inputs.anInitialSuite || github.event_name == 'schedule' }}
    uses: ./.github/workflows/runE2ETest.yml
    secrets: inherit
    with:
      automationBranch: ${{ inputs.automationBranch }}
      testToRun: 'anInitialSuite.e2e.ts'

  authentication:
    if: ${{ inputs.authentication || github.event_name == 'schedule' }}
    uses: ./.github/workflows/runE2ETest.yml
    secrets: inherit
    with:
      automationBranch: ${{ inputs.automationBranch }}
      testToRun: 'authentication.e2e.ts'

  deployAndRetrieve:
    if: ${{ inputs.deployAndRetrieve || github.event_name == 'schedule' }}
    uses: ./.github/workflows/runE2ETest.yml
    secrets: inherit
    with:
      automationBranch: ${{ inputs.automationBranch }}
      testToRun: 'deployAndRetrieve.e2e.ts'

  manifestBuilder:
    if: ${{ inputs.manifestBuilder || github.event_name == 'schedule' }}
    uses: ./.github/workflows/runE2ETest.yml
    secrets: inherit
    with:
      automationBranch: ${{ inputs.automationBranch }}
      testToRun: 'manifestBuilder.e2e.ts'

  pushAndPull:
    if: ${{ inputs.pushAndPull || github.event_name == 'schedule' }}
    uses: ./.github/workflows/runE2ETest.yml
    secrets: inherit
    with:
      automationBranch: ${{ inputs.automationBranch }}
      testToRun: 'pushAndPull.e2e.ts'

  sObjectsDefinitions:
    if: ${{ inputs.sObjectsDefinitions || github.event_name == 'schedule' }}
    uses: ./.github/workflows/runE2ETest.yml
    secrets: inherit
    with:
      automationBranch: ${{ inputs.automationBranch }}
      testToRun: 'sObjectsDefinitions.e2e.ts'

  templates:
    if: ${{ inputs.templates || github.event_name == 'schedule' }}
    uses: ./.github/workflows/runE2ETest.yml
    secrets: inherit
    with:
      automationBranch: ${{ inputs.automationBranch }}
      testToRun: 'templates.e2e.ts'

  slack_notification:
    if: ${{ always() }}
    needs: [anInitialSuite, authentication, deployAndRetrieve, manifestBuilder, pushAndPull, sObjectsDefinitions, templates]
    uses: ./.github/workflows/slackNotification.yml
    secrets: inherit
    with:
      title: 'Core E2E Tests'
      summary: 'An Initial Suite: ${{ needs.anInitialSuite.result }}, Authentication: ${{ needs.authentication.result }}, Deploy and Retrieve: ${{ needs.deployAndRetrieve.result }}, Manifest Builder: ${{ needs.manifestBuilder.result }}, Push and Pull: ${{ needs.pushAndPull.result }}, SObjects Definitions: ${{ needs.sObjectsDefinitions.result }}, Templates: ${{ needs.templates.result }}'
      result: ${{ github.event.workflow.result }}
      workflow: 'actions/runs/${{ github.run_id}}'
      type: 'e2e'