name: End to End Tests
on:
  workflow_dispatch:
    inputs:
      automationBranch:
        description: 'Set the branch to use for automation tests'
        required: false
        default: 'develop'
        type: string
      apexE2ETests:
        description: 'Apex E2E Tests'
        required: false
        default: true
        type: boolean
      coreE2ETests:
        description: 'Core E2E Tests'
        required: false
        default: true
        type: boolean
      lspE2ETests:
        description: 'LSP E2E Tests'
        required: false
        default: true
        type: boolean

jobs:

  Apex_E2E_tests:
    if: ${{ inputs.apexE2ETests }}
    uses: ./.github/workflows/apexE2E.yml
    secrets: inherit
    with:
      automationBranch: ${{ inputs.automationBranch }}

  Core_E2E_tests:
    if: ${{ inputs.coreE2ETests }}
    uses: ./.github/workflows/coreE2E.yml
    secrets: inherit
    with:
      automationBranch: ${{ inputs.automationBranch }}

  LSP_E2E_tests:
    if: ${{ inputs.lspE2ETests }}
    uses: ./.github/workflows/lspE2E.yml
    secrets: inherit
    with:
      automationBranch: ${{ inputs.automationBranch }}
