name: Generate XSD for Metadata Types

on:
  workflow_dispatch:

jobs:
  generate-xsd:
    name: Generate XSD
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.ref }}

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Scrape all metadata pages
        run: npm run scrape:all:pages

      - name: Convert JSON to XSD
        run: npx ts-node scripts/jsonToXsdConverter.ts

      - name: Upload XSD artifact
        uses: actions/upload-artifact@v4
        with:
          name: salesforce_metadata_api_common.xsd
          path: packages/salesforcedx-vscode-core/resources/salesforce_metadata_api_common.xsd
