on:
  workflow_call:

jobs:
  windows-integration-tests:
    strategy:
      matrix:
        node_version: [lts/-1, lts/*]
      fail-fast: false
    runs-on: windows-latest
    steps:
      - run: git config --global core.autocrlf false
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node_version }}
          cache: npm
      - run: npm ci
      - run: npm run compile
      - run: npm run test:integration-tests-without-system-tests