name: LSP End to End Tests

on:
  schedule:
    - cron: 10 6 * * *
  workflow_dispatch:
    inputs:
      automationBranch:
        description: 'Set the branch to use for automation tests'
        required: false
        default: 'develop'
        type: string
      auraLsp:
        description: 'auraLsp.e2e.ts'
        required: false
        default: true
        type: boolean
      lwcLsp:
        description: 'lwcLsp.e2e.ts'
        required: false
        default: true
        type: boolean
      visualforceLsp:
        description: 'visualforceLsp.e2e.ts'
        required: false
        default: true
        type: boolean

  workflow_call:
    inputs:
      automationBranch:
        description: 'Set the branch to use for automation tests'
        required: false
        default: 'develop'
        type: string
      auraLsp:
        description: 'auraLsp.e2e.ts'
        required: false
        default: true
        type: boolean
      lwcLsp:
        description: 'lwcLsp.e2e.ts'
        required: false
        default: true
        type: boolean
      visualforceLsp:
        description: 'visualforceLsp.e2e.ts'
        required: false
        default: true
        type: boolean

jobs:

  auraLSP:
    if: ${{ inputs.auraLsp || github.event_name == 'schedule' }}
    uses: ./.github/workflows/runE2ETest.yml
    secrets: inherit
    with:
      automationBranch: ${{ inputs.automationBranch }}
      testToRun: 'auraLsp.e2e.ts'

  lwcLSP:
    if: ${{ inputs.lwcLsp || github.event_name == 'schedule' }}
    uses: ./.github/workflows/runE2ETest.yml
    secrets: inherit
    with:
      automationBranch: ${{ inputs.automationBranch }}
      testToRun: 'lwcLsp.e2e.ts'

  visualforceLSP:
    if: ${{ inputs.visualforceLsp || github.event_name == 'schedule' }}
    uses: ./.github/workflows/runE2ETest.yml
    secrets: inherit
    with:
      automationBranch: ${{ inputs.automationBranch }}
      testToRun: 'visualforceLsp.e2e.ts'

  slack_success_notification:
    if: ${{ success() }}
    needs: [auraLSP, lwcLSP, visualforceLSP]
    uses: ./.github/workflows/slackNotification.yml
    secrets: inherit
    with:
      title: 'LSP E2E Tests'
      summary: '\n- Aura LSP: ${{ needs.auraLSP.result }}\n- LWC LSP: ${{ needs.lwcLSP.result }}\n- Visualforce LSP: ${{ needs.visualforceLSP.result }}'
      result: 'All the tests passed.'
      workflow: 'actions/runs/${{ github.run_id }}'
      type: 'e2e'

  slack_failure_notification:
    if: ${{ failure() }}
    needs: [auraLSP, lwcLSP, visualforceLSP]
    uses: ./.github/workflows/slackNotification.yml
    secrets: inherit
    with:
      title: 'LSP E2E Tests'
      summary: '\n- Aura LSP: ${{ needs.auraLSP.result }}\n- LWC LSP: ${{ needs.lwcLSP.result }}\n- Visualforce LSP: ${{ needs.visualforceLSP.result }}'
      result: 'Not all the tests passed.'
      workflow: 'actions/runs/${{ github.run_id }}'
      type: 'e2e'