name: LWC End to End Tests

on:
  workflow_dispatch:
    inputs:
      debugLwcTests:
        description: 'Debug LWC Tests'
        required: false
        default: true
        type: boolean
      runLwcTests:
        description: 'Run LWC Tests'
        required: false
        default: true
        type: boolean
      vscodeVersion:
        description: 'VSCode Version'
        required: false
        default: 'latest'
        type: string
      runId:
        description: 'Run ID of the workflow run that created the vsixes'
        required: true
        type: string

  workflow_call:
    inputs:
      debugLwcTests:
        description: 'Debug LWC Tests'
        required: false
        default: true
        type: boolean
      runLwcTests:
        description: 'Run LWC Tests'
        required: false
        default: true
        type: boolean
      vscodeVersion:
        description: 'VSCode Version'
        required: false
        default: 'latest'
        type: string
      runId:
        description: 'Run ID of the workflow run that created the vsixes'
        required: true
        type: string

jobs:
  debugLwcTests:
    if: ${{ inputs.debugLwcTests }}
    uses: ./.github/workflows/runE2ETest.yml
    secrets: inherit
    with:
      testToRun: 'debugLwcTests.e2e.js'
      vscodeVersion: ${{ inputs.vscodeVersion }}
      runId: ${{ inputs.runId }}

  runLwcTests:
    if: ${{ inputs.runLwcTests }}
    uses: ./.github/workflows/runE2ETest.yml
    secrets: inherit
    with:
      testToRun: 'runLwcTests.e2e.js'
      vscodeVersion: ${{ inputs.vscodeVersion }}
      runId: ${{ inputs.runId }}
