name: Release

on: workflow_call

jobs:
  get_release_version:
    name: 'Get Release Version'
    runs-on: ubuntu-latest
    outputs:
      RELEASE_VERSION: ${{ steps.getMainVersion.outputs.version }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: 'main'
      - id: getMainVersion
        run: |
          echo "version="$(node -pe "require('./packages/salesforcedx-vscode/package.json').version")"" >> $GITHUB_OUTPUT
      - run: echo "Main Version is ${{ steps.getMainVersion.outputs.version }}"

  release:
    needs: [get_release_version]
    uses: ./.github/workflows/tagAndRelease.yml
    with:
      version: ${{ needs.get_release_version.outputs.RELEASE_VERSION }}
    secrets: inherit
