name: Commit Workflow
on:
  push:
    branches-ignore: [main, develop]

jobs:
  build-and-test:
    uses: ./.github/workflows/buildAndTest.yml
    if: false
  e2e-tests:
    if: false
    needs: build-and-test
    uses: ./.github/workflows/triggerE2EForCommit.yml
    secrets: inherit
    with:
      vscodeVersion: 'latest'
      runId: ${{ github.run_id }}
