name: Unit Tests Windows
on:
  workflow_call:
    inputs:
      branch:
        type: string
        required: false
env:
  NODE_OPTIONS: --max-old-space-size=8192

jobs:
  windows-unit-tests:
    strategy:
      matrix:
        node_version: [lts/*]
      fail-fast: false
    runs-on: windows-latest
    timeout-minutes: 20
    steps:
      - run: git config --global core.autocrlf false
      - uses: actions/checkout@v3
        with:
          ref: ${{ inputs.branch }}
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node_version }}
          cache: npm
      - run: npm ci
      - run: npm run compile
      - run: npm run test:unit
