name: validate pr
on:
  pull_request:
    branches: [develop]

jobs:
  pr-validation:
    uses: salesforcecli/github-workflows/.github/workflows/validatePR.yml@main
  code-quality: 
    strategy:
      matrix:
        node_version: [lts/-1]
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node_version }}
          cache: npm
      - run: npm ci
      - name: Lint
        run: npm run lint