#
# Copyright (c) 2021, salesforce.com, inc.
# All rights reserved.
# Licensed under the BSD 3-Clause license.
# For full license text, see LICENSE.txt file in the repo root or https://opensource.org/licenses/BSD-3-Clause
#

name: "Validate New Issues"
on: # issue opened, labeled as "feature", labeled as "type:enhancements", or labeled as "status:owned by another team"
  issues:
    types: [opened, labeled]

jobs:
  # Check if the issue is a feature request, and if it is, tag it with 'type:enhancements' (this job is a prerequisite to all the other jobs)
  check-feature-request:
    if: ${{ !contains(github.event.issue.labels.*.name, 'more information required') && !contains(github.event.issue.labels.*.name, 'validated') && !contains(github.event.issue.labels.*.name, 'type:enhancements') && !contains(github.event.issue.labels.*.name, 'feature') && !contains(github.event.issue.labels.*.name, 'bug') }}
    outputs:
      version: ${{ steps.check_feature_request.outputs.is_feature_request }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.0.0
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm install
      - name: Check if the issue is a feature request
        id: check_feature_request
        uses: ./.github/actions/check-feature-request
        with:
          repo-token: ${{ secrets.IDEE_GH_TOKEN }}
      - name: log action output
        run: echo ${{ steps.run_action.outputs.message }}

  owned-by-other-team:
    if: ${{ github.event.label.name == 'status:owned by another team' && !contains(github.event.issue.labels.*.name, 'feature') && !contains(github.event.issue.labels.*.name, 'type:enhancements') }}
    needs: [check-feature-request]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.0.0
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm install
      - name: issue comment
        id: issue_comment
        uses: ./.github/actions/new-issue
        with:
          repo-token: ${{ secrets.IDEE_GH_TOKEN }}
          message: >
            We have determined that the issue you reported exists in code owned by another team that uses only the official support channels.
            To ensure that your issue is addressed, open an official [Salesforce customer support](https://help.salesforce.com/s/) ticket with a link to this issue.
            We encourage anyone experiencing this issue to do the same to increase the priority. We will keep this issue open for the community to collaborate on.
      - name: log action output
        run: echo ${{ steps.run_action.outputs.message }}

  new-issue:
    if: ${{ !contains(github.event.issue.labels.*.name, 'more information required') && !contains(github.event.issue.labels.*.name, 'validated') && !contains(github.event.issue.labels.*.name, 'type:enhancements') && !contains(github.event.issue.labels.*.name, 'feature') && !contains(github.event.issue.labels.*.name, 'bug') && !needs.check-feature-request.outputs.is_feature_request }}
    needs: [check-feature-request]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.0.0
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm install
      - name: issue comment
        id: issue_comment
        uses: ./.github/actions/new-issue
        with:
          repo-token: ${{ secrets.IDEE_GH_TOKEN }}
          message: >
            Thank you for filing this issue.  We appreciate your feedback and will review the issue as soon as possible.
            Remember, however, that GitHub isn't a mechanism for receiving support under any agreement or SLA.
            If you require immediate assistance, contact Salesforce Customer Support.
      - name: log action output
        run: echo ${{ steps.run_action.outputs.message }}

  validate-new-issue:
    if: ${{ !contains(github.event.issue.labels.*.name, 'more information required') && !contains(github.event.issue.labels.*.name, 'validated') && !contains(github.event.issue.labels.*.name, 'type:enhancements') && !contains(github.event.issue.labels.*.name, 'feature') && !contains(github.event.issue.labels.*.name, 'bug') && !needs.check-feature-request.outputs.is_feature_request }}
    needs: [check-feature-request]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.0.0
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm install
      - name: Validate issue
        id: validate-issue
        uses: ./.github/actions/validate-issue
        with:
          repo-token: ${{ secrets.IDEE_GH_TOKEN }}

  new-feature:
    if: ${{ (github.event.label.name == 'feature' || github.event.label.name == 'type:enhancements') && !contains(github.event.issue.labels.*.name, 'status:owned by another team') }}
    needs: [check-feature-request]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.0.0
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm install
      - name: issue comment
        id: issue_comment
        uses: ./.github/actions/new-issue
        with:
          repo-token: ${{ secrets.IDEE_GH_TOKEN }}
          message: >
            Thank you for filing this feature request. We appreciate your feedback and will review the feature at our next grooming session. We prioritize feature requests with more upvotes and comments.
      - name: log action output
        run: echo ${{ steps.run_action.outputs.message }}

  new-feature-on-another-team:
    if: >-
      (github.event.label.name == 'feature' || github.event.label.name == 'type:enhancements' || github.event.label.name == 'status:owned by another team')
      &&
      ((contains(github.event.issue.labels.*.name, 'feature') || contains(github.event.issue.labels.*.name, 'type:enhancements')) && contains(github.event.issue.labels.*.name, 'status:owned by another team'))
    needs: [check-feature-request]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.0.0
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm install
      - name: issue comment
        id: issue_comment
        uses: ./.github/actions/new-issue
        with:
          repo-token: ${{ secrets.IDEE_GH_TOKEN }}
          message: >
            Thank you for filing this feature request. However, we've determined that the functionality you've requested must be completed by another team. Please submit your request to the [Salesforce IdeaExchange](https://trailblazer.salesforce.com/ideaSearch). Then post a link to the request in this issue so that others can upvote your idea.
      - name: log action output
        run: echo ${{ steps.run_action.outputs.message }}
